<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><strong>Book Store</strong></li>
        </ul>
        <ul>
            {% if user.is_authenticated %}
            <!-- El usuario está autenticado -->
            <li><a href="{% url 'create-book' %}" role="button">Agregar Libro</a></li>
            <li><a href="{% url 'list-book' %}" role="button">Libros disponibles</a></li>
            <li><a href="{% url 'libros-prestados' %}" role="button">Mis libros</a></li>
            <li><a href="{% url 'logout' %}" role="button">Cerrar Sesión</a></li>
            {% else %}
                <!-- El usuario no está autenticado -->
                <li><a href="{% url 'login' %}" role="button">Iniciar Sesión</a></li>            
            {% endif %}

            
        </ul>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>