{% extends 'books/base.html' %}
{% block content %}
    
        <article>
            <h2>{{ libro.titulo }}</h2>
            <p>Autor/es: 
                {% for autor in libro.autores.all %}
                 {{ autor.nombre }}{% if not forloop.last %}, {% endif %}
                {% endfor%}
             
            </p>
            <p>Editorial: {{ libro.editorial }}</p>
            <p>Fecha de Publicación: {{ libro.fecha_publicacion }}</p>
            <p>Género: {{ libro.genero }}</p>
            <p>ISBN: {{ libro.ISBN }}</p>
            <p>Resumen: {{ libro.resumen }}</p>
            
            <p>Disponibilidad: {% if libro.disponibilidad == 'disponible' %} Disponible {% else %} No disponible {% endif %}</p>
            
           

 
        </article>
        {% if libro.disponibilidad == 'disponible' %}
        <a href="{% url 'realizar-prestamo' pk=libro.pk %}" role="button">Realizar Préstamo</a>
        {% endif %}
        <a href="{% url 'update-book' pk=libro.pk %}" role="button">Editar</a>
        <a href="{% url 'delete-book' pk=libro.pk %}" role="button">Eliminar</a>
{% endblock %}
